.container {
	display:flex;
	flex-direction:wrap;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
}

.item {
	display:flex;
	width: 100px;
	height: 100px;
	background-color: #3498db;
	color: white;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	margin: 10px;
}

.bg-blue {
	background-color: skyblue;
}

.text-white, {
	color: black;
}

@media screen and (max-width: 468px) {
		.item {
			color: black;
		}
}

@media screen and (min-width: 468px) and (max-width: 668px) {
		.item {
			color: red;
		}
}

/* breakpoint RWD code */

#content {
	color: orangered;
}

h1, p, h2 {
	color: blueviolet;
}

.text-white > h1 {
	color: white;
}


/* The very first child */
.parent *:first-child {
  border-top: none;
}

/* The very last child */
.parent *:last-child {
  margin-bottom: 0;
}

/* Every odd child (1, 3, 5...) */
.parent *:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Every 3rd child */
.parent *:nth-child(3n) {
  color: blue;
}